.navbar {
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.logo-text {
  width: 190px;
}

.logo-icon {
  font-size: 42px;
  height: 42px ;
  width: 42px;
  color: #605DEC;
}

.left-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  display: none;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 800px) {

  .left-items-container {
    gap: 0;
    flex-direction: column;
    align-items: start;
  }

  .logo-text {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .row-menu {
    display: none;
  }
  
  .hamburger-menu {
    background-color: white;
    display: inline;
    position: absolute;
    width: 100%;
    z-index: 999999;
    top: 54px; 
    left: 0px;
    padding: 10px;
  }
}